/* h2{
    display: inline;
    background-color: red;
}

span{
    display: block;
    background-color: yellowgreen;
} */

span{
    background-color: greenyellow;
    border: 2px solid black;
    height: 100px;
    width: 20px;
    padding: 50px;
    margin: 20px;
}

div{
    background-color: greenyellow;
    border: 2px solid black;
    height: 100px;
    width: 20px;
    padding: 50px;
    margin: 20px;
}